#root {
    height: 100%;
}

.LoginPage {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.wrap_login_content {

    width:400px;

    background-image: url("./logo1.jpg");

}





.LoginContent {

    padding: 50px;

}

.login_text {
    color: gray;
    padding-left: 5px;
}

